[Unit]
Description=Prometheus exporter for sizes of subdirectories

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/share/home-sizes/home-sizes.sh

[Install]
WantedBy=multi-user.target