[Unit]
Description=Weekly task updating sizes of subdirectories
Requires=prometheus-home-sizes.service

[Timer]
Unit=prometheus-home-sizes-flush.service
OnCalendar=Wed,Sat 04:00

[Install]
WantedBy=multi-user.target